{% load static %}
<html>
    <head>
        <title>Help</title>
        <style>
            .id{
                color:rgb(78, 184, 131)

            }
        </style>
    </head>

<body bgcolor="black">
<h2>steps to follow:</h2>

<div >
<video width='700' align='center'controls>
    <source  src="{% static 'help.mp4' %}" type="video/mp4">
   </video> 
 <br>
 <ul class ="id">
    <li>click on "UPLOAD VIDEO"</li>
    <li>it directs you to another page ,there you can find "choose file".click on it</li>
    <li>select a video file from your system.</li>
    <li>after that click on "submit".In background an output video will run go to that window and press "q"</li>
    <li>now you can see no.of vehicles in that page.</li>
</ul>

</div>
</body>
</html>